.custom-button {
    @apply bg-transparent
    hover:bg-purple-700
    hover:text-white
    hover:border-transparent
    transition
    duration-500
    text-purple-900
    font-semibold
    py-2
    px-4
    border
    border-purple-900 
    rounded;

    &.google-sign-in {
        @apply bg-google-blue border-google-blue hover:bg-google-blue-light text-white  hover:border-transparent;
    }
}
/* bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded */

/* .custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    // padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans Condensed";
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: white;
        color: black;
        min-width: 160px;
        border: 1px solid black;
    }

    &.google-sign-in {
        background-color: #4285f4;
        color: white;

        &:hover {
            background-color: #357ae8;
            border: none;
        }
    }

    &.inverted {
        background-color: white;
        color: black;
        border: 1px solid black;

        &:hover {
            background-color: black;
            color: white;
            border: none;
        }
    }
} */
