@use "scss/variables";

.button-container {
    width: 16rem;
    height: 4.8rem;
    font-size: 1.3rem;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    border: none;
    color: variables.$white;
    padding: 0;

    &.orange {
        background-color: variables.$orange;
    }
    &.black {
        background-color: variables.$black;
    }
    &.white {
        background-color: variables.$white;
    }
}
