.productDisplayCard-container {
    /* border: 1px solid red; */
    @apply rounded;
    .productDisplayCard-category-container {
        /* border: 1px solid black; */
        @apply my-1;
        .productDisplayCard-titleText {
            @apply py-2;
        }
        .productDisplayCard-title {
            @apply flex
                    justify-between
                    px-5
                    py-3
                    font-semibold
                    text-xl
                   bg-green-900
                   underline
                   rounded
                   text-white;

            .productDisplayCard-titleItemContainer {
                @apply flex;
            }
            .productDisplayCard-icon {
                @apply ml-2
                        cursor-pointer
                        p-3
                        rounded
                        hover:bg-green-200;

                svg {
                    @apply text-2xl;
                }
            }
        }
        .productDisplayCard-item {
            /* border: 1px solid orange; */
            @apply flex 
            flex-wrap;

            .productDisplayCard-card-container {
                /* border: 1px solid green; */
                @apply rounded
                border-2
                border-green-900
                m-5
                p-4
                min-w-min
                max-w-xs;

                .productDisplayCard-iconContainer {
                    /* border: 1px solid pink; */
                    @apply flex
                     justify-between;
                }
                .productDisplayCard-icon {
                    @apply cursor-pointer
                    hover:bg-green-200
                    rounded
                    mb-2
                    p-5;

                    svg {
                        @apply text-2xl;
                    }
                }
                .productDisplayCard-image {
                    @apply rounded;
                }
                .productDisplayCard-itemName {
                    @apply text-xl
                    flex
                    flex-wrap
                    font-semibold
                    my-3
                    capitalize
                    max-w-xs;
                }
                .productDisplayCard-price {
                    @apply text-base
                    font-normal
                    my-3
                    capitalize;
                }
                .productDisplayCard-quantity {
                    @apply text-base
                    font-normal
                    capitalize;
                }
            }
        }
    }
}

/* .productDisplayCard-container {
    border: 1px solid red;
    .productDisplayCard-category-container {
        border: 1px solid black;
        margin: 5px 0;
        .productDisplayCard-title {
            padding: 20px;
            font-weight: 700;
            .productDisplayCard-addIcon {
                margin-left: 10px;
                cursor: pointer;
                svg {
                    font-size: 20px;
                }
            }
        }
        .productDisplayCard-item {
            display: flex;
            flex-wrap: wrap;
        }
        .productDisplayCard-itemName {
            border: 1px solid green;
            margin: 20px;
            padding: 15px;
            min-width: 150px;
            .productDisplayCard-iconContainer {
                border: 1px solid pink;
                display: flex;
                justify-content: space-between;
            }
            .productDisplayCard-icon {
                cursor: pointer;
            }
        }
    }
} */
