.productDisplayCard-container {
    border: 1px solid red;
    .productDisplayCard-category-container {
        border: 1px solid black;
        margin: 5px 0;
        .productDisplayCard-title {
            padding: 20px;
            font-weight: 700;
            .productDisplayCard-addIcon {
                margin-left: 10px;
                cursor: pointer;
                svg {
                    font-size: 20px;
                }
            }
        }
        .productDisplayCard-item {
            display: flex;
            flex-wrap: wrap;
        }
        .productDisplayCard-itemName {
            border: 1px solid green;
            margin: 20px;
            padding: 15px;
            min-width: 150px;
            .productDisplayCard-iconContainer {
                border: 1px solid pink;
                display: flex;
                justify-content: space-between;
            }
            .productDisplayCard-icon {
                cursor: pointer;
            }
        }
    }
}
